.loader {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  display: inline-block;
  border-top: 12px solid rgb(243, 243, 243);
  border-right: 12px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 148px;
  height: 148px;
  border-radius: 50%;
  border-bottom: 12px solid #e5ff00;
  border-left: 12px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinnerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
